<%= error_messages_for 'person' %>
<p><label for="person_first_name"><%=t :first_name %></label><br/>
<%= text_field 'person', 'first_name' %></p>
<p><label for="person_last_name"><%=t :last_name %></label><br/>
<%= text_field 'person', 'last_name' %></p>
<p><label for="person_email"><%=t :email %></label><br/>
<%= text_field 'person', 'email' %></p>
<p><label for="person_phone_number"><%=t :phone_number %></label><br/>
<%= text_field 'person', 'phone_number' %></p>
<p><label for="person_address"><%=t :address %></label><br/>
<%= text_field 'person', 'address' %></p>
